<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="common-js">
        <!-- Global JS -->
        <script th:src="@{/libs/jquery/jquery.min.js}"></script>
        <script th:src="@{/libs/bootstrap/bootstrap.bundle.min.js}"></script>

        <!-- Plugin JavaScript -->
        <script th:src="@{/js/jquery.easing.min.js}"></script>

        <!-- Theme JS -->
        <script th:src="@{/js/theme.js}"></script>

        <script th:src="@{/js/navbtn.js}"></script>

        <script th:src="@{/js/moment.min.js}"></script>
        <script src="https://unpkg.com/vue@2.6.10/dist/vue.min.js"></script>
        <script src="https://unpkg.com/element-ui@2.10.1/lib/index.js"></script>
    </div>
</body>
</html>