<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <head th:fragment="common_head(title,links)">
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <title th:replace="${title}">明皓摄影工作室-每一张照片，都是时光的标本</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <meta name="description" content="明皓摄影工作室-为您提供专业的人像摄影及商业摄影。">
        <meta name="Keywords" content="南京约拍,南京商业摄影,摄影,南京摄影工作室,约拍,写真,宣传片制作">
        <meta name="author" content="wpd">

        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

        <!-- Icon CSS -->
        <link rel="stylesheet" href="https://at.alicdn.com/t/font_1264471_lj7azla7fd.css">

        <!-- Theme CSS -->
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <link rel="stylesheet" th:href="@{/css/responsive.css}">

        <th:block th:replace="${links}" />
    </head>
</body>
</html>