<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="common/common-head :: common_head(~{::title},~{::link})">
    <title>明皓摄影工作室-发现 美</title>
    <link rel="stylesheet" th:href="@{css/find.css}">
</head>

<body id="find">

<!-- NAVBAR
================================================= -->
<div th:replace="common/header :: header"></div>


<!-- 照片展示
================================================== -->

<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="img-div">
                    <img class="find-img" src="/img/find/find-load.svg" data-src="/img/find/show/10001.jpg">
                </div>
                <div class="img-div">
                    <img class="find-img" src="/img/find/find-load.svg" data-src="/img/find/show/10002.jpg">
                </div>
                <div class="img-div">
                    <img class="find-img" src="/img/find/find-load.svg" data-src="/img/find/show/10003.jpg">
                </div>
                <div class="img-div">
                    <img class="find-img" src="/img/find/find-load.svg" data-src="/img/find/show/10004.jpg">
                </div>
                <div class="img-div">
                    <img class="find-img" src="/img/find/find-load.svg" data-src="/img/find/show/10005.jpg">
                </div>
                <div class="img-div">
                    <img class="find-img" src="/img/find/find-load.svg" data-src="/img/find/show/10006.jpg">
                </div>
                <div class="img-div">
                    <img class="find-img" src="/img/find/find-load.svg" data-src="/img/find/show/10007.jpg">
                </div>
                <div class="img-div">
                    <img class="find-img" src="/img/find/find-load.svg" data-src="/img/find/show/10008.jpg">
                </div>
                <div class="img-div">
                    <img class="find-img" src="/img/find/find-load.svg" data-src="/img/find/show/10009.jpg">
                </div>
                <div class="img-div">
                    <img class="find-img" src="/img/find/find-load.svg" data-src="/img/find/show/10010.jpg">
                </div>
                <div class="img-div">
                    <img class="find-img" src="/img/find/find-load.svg" data-src="/img/find/show/10011.jpg">
                </div>
                <div class="img-div">
                    <img class="find-img" src="/img/find/find-load.svg" data-src="/img/find/show/10012.jpg">
                </div>
            </div>
        </div>
    </div>

</section>


<!-- FOOTER
================================================== -->
<div th:replace="common/footer :: footer"></div>

<!-- JAVASCRIPT
================================================== -->

<div th:replace="common/common-js :: common-js"></div>
<script th:src="@{/js/find.js}"></script>
</body>

</html>