<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="common/common-head :: common_head(~{::title},~{::link})">
    <title>明皓摄影工作室-发现 美</title>
    <link rel="stylesheet" th:href="@{css/index.css}">
</head>

<body id="page-top">

<!-- NAVBAR
================================================= -->
<div th:replace="common/header :: header"></div>


<!-- 照片展示
================================================== -->
<section class="section">

    <div class="bg-cover" style="background-image: url(img/bg-1-z.jpg);"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-title text-center">
                    <h1>service</h1>
                    <div class="breadcrumb-menu">
                        <ul>
                            <li><a href="index.html">home</a></li>
                            <li>service</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- FOOTER
================================================== -->
<div th:replace="common/footer :: footer"></div>

<!-- JAVASCRIPT
================================================== -->

<div th:replace="common/common-js :: common-js"></div>
</body>

</html>