<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="common/common-head :: common_head(~{::title},~{::link})">
    <title>明皓摄影工作室-发现 美</title>
    <link rel="stylesheet" th:href="@{css/find.css}">
</head>

<body id="page-top">

<!-- NAVBAR
================================================= -->
<div th:replace="common/header :: header"></div>


<!-- 照片展示
================================================== -->

<div class="find-banner" style="background-image: url(img/find/find-banner.jpg);">
    <h2>发现</h2>
</div>


<!-- FOOTER
================================================== -->
<div th:replace="common/footer :: footer"></div>

<!-- JAVASCRIPT
================================================== -->

<div th:replace="common/common-js :: common-js"></div>
</body>

</html>