<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="common/common-head :: common_head(~{::title},~{::link})">
    <title>明皓摄影工作室-每一张照片，都是时光的标本</title>
    <link rel="stylesheet" th:href="@{css/index.css}">
</head>

<body id="page-top">

    <!-- NAVBAR
    ================================================= -->
    <div th:replace="common/header :: header" ></div>

    <!-- HERO
    ================================================== -->
    <section class="section section-top">

        <!-- Cover -->
        <div class="bg-cover" style="background-image: url(img/bg-1-z.jpg);"></div>

        <!-- Overlay -->
        <!-- <div class="bg-overlay"></div> -->
        <!-- Content -->
        <div class="container home-container">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-10 col-lg-7 ">
                    <div class="banner-content">
                        <!-- Preheading -->
                        <p class="text-white text-uppercase text-center text-xs">
                            Wh & Wpd
                        </p>

                        <!-- Heading -->
                        <h1 class="text-white text-center mb-4 display-4 font-weight-bold top-title">
                            光给了我创意的<br>形状和脚本
                        </h1>

                        <!-- Subheading -->
                        <p class="lead text-white text-center mb-5">
                            拍摄照片就是要屏住呼吸，全部的官能都集中在一个点上，捕捉稍纵即逝的现实。就在那个瞬间，抓住一幅影像就成了巨大的身体和心灵的快乐
                        </p>

                        <!-- Button -->
                        <p class="text-center mb-0" >
                            <a href="#contact" class="btn btn-primary ">
                                现在联系
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <!-- / .row -->
        </div>
        <!-- / .container -->
    </section>

    <!-- 照片展示
    ================================================== -->
    <section class="section">
        <div class="container">
            <div class="row align-items-center ">
                <div class="col-lg-6 col-md-6">
                    <div class="about-img">
                        <img src="img/show-1.jpg" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="about-content ">
                        <h2 class="display-5">
                            你笑起来真是很好看啊
                        </h2>
                        <p>终于体会暗香流动 / 原来就是你发梢的风<br>甜到梦里有粉红 / 小花朵 / 一朵一朵慢动作飘落</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row mt-5 align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="about-content">
                        <h2 class="display-5">
                            光与影，黑与白
                        </h2>
                        <p>试着去寻找被摄物的对称性，那些容易被复杂的颜色所掩盖特特征。这时采用黑白摄影，能重新突出这种特征，拍出令人印象深刻的作品</p>

                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="about-img">
                        <img src="img/show-5-z.jpg" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row mt-5 align-items-center ">
                <div class="col-lg-6 col-md-6">
                    <div class="about-img">
                        <img src="img/show-3.jpg" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="about-content ">
                        <h2 class="display-5">
                            你的城市是怎样的色彩
                        </h2>
                        <p>我们每天穿梭在这些高楼与高楼之间，忙碌而努力的生活着，你是否停下脚步，静下来去感受周遭的一切</p>

                        <a href="#" class="btn btn-primary">更多...</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- SERVICES
    ================================================== -->
    <section class="section bg-light" id="service">
        <div class="container">
            <div class="row justify-content-center mb-4">
                <div class="col-md-8 col-lg-6 text-center">

                    <!-- Heading -->
                    <h2 class="lg-title mb-2">
                        我们的服务
                    </h2>

                    <!-- Subheading -->
                    <p class="mb-5 ">
                        记录生活的点点滴滴，留住您最美丽的瞬间
                    </p>

                </div>
            </div>
            <!-- / .row -->

            <div class="row justy-content-center">
                <div class="col-lg-3 col-md-6">
                    <div class="text-center feature-block">
                        <div class="feature-icon-block mb-4">
                            <i class="service-font iconfont iconphoto"></i>
                        </div>
                        <h4 class="mb-3 ">个人写真</h4>
                        <p></p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="text-center feature-block">
                        <div class="feature-icon-block mb-4">
                            <i class="service-font iconfont iconmarry"></i>
                        </div>
                        <h4 class="mb-3">婚纱摄影</h4>
                        <p></p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="text-center feature-block">
                        <div class="feature-icon-block mb-4">
                            <i class="service-font iconfont iconad"></i>
                        </div>
                        <h4 class="mb-3">广告宣传</h4>
                        <p></p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="text-center feature-block">
                        <div class="feature-icon-block mb-4">
                            <i class="service-font iconfont iconcooperation"></i>
                        </div>
                        <h4 class="mb-3">商业合作</h4>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- / .container -->
    </section>

    <!-- Contact
    ================================================== -->
    <section class="section" id="contact">
        <div class="container">
            <div class="row justify-content-center mb-4">
                <div class="col-md-8 col-lg-8 text-center">

                    <!-- Heading -->
                    <h2 class="lg-title mb-2">
                        联系我们
                    </h2>

                    <!-- Subheading -->
                    <p class="mb-5">
                        瞬间定格永远，用心交代浪漫
                    </p>

                </div>
            </div>
            <!-- / .row -->


            <div class="row">
                <div class="col-lg-6">
                    <form action="#" method="post" id="main_contact_form" class="contact__form">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="text" name="name" id="name" class="form-control" placeholder="怎样称呼您">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="text" name="email" id="email" class="form-control" placeholder="您的邮箱 *" required="required">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="text" name="phone" id="phone" class="form-control" placeholder="您的电话 *" required="required">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <textarea name="message" id="message" cols="30" rows="6" class="form-control" placeholder="您的需求"></textarea>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="submit">
                                    <input name="submit" type="submit" class="btn btn-primary btn-lg" value="提交">
                                    <p class="pt-3"></p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-6 ">
                    <ul class="list-unstyled skill-list">
                        <li><i class="contact-icon iconfont iconphone"></i>&nbsp;&nbsp;‭183 6288 5790‬</li>
                        <li><i class="contact-icon iconfont iconwechat"></i>&nbsp;&nbsp;minghaosheying-1</li>
                        <li><i class="contact-icon iconfont iconqq"></i>&nbsp;&nbsp;2559079211</li>
                        <li><i class="contact-icon iconfont iconemail"></i>&nbsp;&nbsp;wanhao1995131@outlook.com</li>
                        <li><i class="contact-icon iconfont iconweibo"></i>&nbsp;&nbsp;<a href="https://weibo.com/u/5285569829">Photographer乂阿浩</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


    <!-- FOOTER
    ================================================== -->
    <div th:replace="common/footer :: footer" ></div>

    <!-- JAVASCRIPT
    ================================================== -->

    <div th:replace="common/common-js :: common-js" ></div>
</body>

</html>