<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="common/common-head :: common_head(~{::title},~{::link})">
    <title>上传-加油吧</title>
    <link rel="stylesheet" th:href="@{/css/uploadlist.css}">
</head>
<body class="bg-dark">

<!-- NAVBAR
================================================= -->
<div th:replace="common/header :: header"></div>

<!-- HERO
================================================== -->
<section>
    <div class="container div-container" id="mainContent">
        <div class="justify-content-center">
            <div class="download-block bg-light">
                <h2 class="login-title">上传列表</h2>
                <template>
                    <el-table
                            v-loading="loading"
                            :data="list"
                            stripe
                            style="width: 100%">
                        <el-table-column
                                prop="uploadTime"
                                label="上传时间"
                                width="200"
                        >
                        </el-table-column>
                        <el-table-column
                                prop="fileName"
                                label="文件名"
                                width="200"
                        >
                        </el-table-column>
                        <el-table-column
                                prop="remark"
                                label="备注"
                                width="150"
                                >
                        </el-table-column>
                        <el-table-column
                                prop="password"
                                label="下载码">
                        </el-table-column>
                        <el-table-column
                                fixed="right"
                                label="操作"
                                width="100">
                            <template slot-scope="scope">
                                <el-button @click="download(scope.row.password)" type="text" size="small">下载</el-button>
                                <el-button @click="onDelete(scope.row.id)" type="text" size="small">删除</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </template>
                <el-pagination style="margin-top:10px;"
                        background
                        layout='prev, pager, next, ->, total'
                        :page-size='page.pageSize'
                        :current-page.sync='page.curPage'
                        @current-change='onSearch($event)'
                        :total="page.total">
                </el-pagination>
            </div>
        </div>
    </div>
</section>
<form action="/download/submit" method="post" id="download-form" style="display: none">
    <input type="hidden" name="password">
</form>

<!-- FOOTER
================================================== -->
<div class="footer-1">
    <p>Made by wpd</p>
</div>

<!-- JAVASCRIPT
================================================== -->

<div th:replace="common/common-js :: common-js"></div>
<script th:src="@{/js/uploadlist.js}"></script>
</body>

</html>